
@media all and (min-width : 481px)  {

#screen {
	display : none;
	margin-top : 6vw;
	min-height : 40vw;
}

div#screen_title {
	margin-top : -0.5vw;
	margin-bottom : 1vw;
	text-align : center;
	font-size : 2.4vw;
}

a.title {
	margin-left : 2vw;
	font-size : 2.4vw;
	/*color : white;*/
}

div.pager_container {
	position : relative;
	display : flex;
	justify-content : center;
	margin-top : -2vw;
	/*flex-basis : 100%;*/
	/*flex-wrap : wrap;*/
	width : 100%;
}

div.pager{
	background : rgb(60, 60, 60);
	border-radius : 50%;
	width : 0.8vw;
	height : 0.8vw;
	margin-left : 0.25vw;
	margin-right : 0.25vw;
}

div.scrolling_container {
	position : relative;
}

div.list_container {
	display : flex;
	/*flex-wrap : wrap;*/
	padding-top : 1vw;
	padding-left : 4.8vw;
	padding-bottom : 4vw;
}

		div.panorama {
			margin-top : 0.8vw;
			margin-left : 0.8vw;
			margin-right : 0.8vw;
			margin-bottom : 0.8vw;
			flex : 0 0 21vw;
		}

		div.portrait {
			margin-top : 1.6vw;
			margin-left : 1vw;
			margin-right : 1vw;
			margin-bottom : 1.6vw;
			flex : 0 0 16vw;
		}

		div.squared {
			margin-top : 1vw;
			margin-left : 1vw;
			margin-right : 1vw;
			margin-bottom : 1vw;
			flex : 0 0 16vw;
		}

		div.thumbnail_info {
			display : flex;
			box-shadow : 5px 5px 5px #000;

			-webkit-transition : all 0.2s ease;
			-moz-transition : 0.2s ease;
			-o-transition : all 0.2s ease;
			-ms-transition : all 0.2s ease;
			transition : all 0.2s ease;
		}

		div.thumbnail_info:hover {	
			box-shadow : 10px 10px 5px #000;

			-webkit-transform : scale(1.05); 
			-moz-transform : scale(1.05); 
			-ms-transform : scale(1.05); 
			-o-transform : scale(1.05); 
			transform : scale(1.05);
		}

		img.panorama {
			height : 100%;
			width : 100%;
		}

		img.portrait {
			height : 100%;
			width : 100%;
		}

		img.squared {
			height : 100%;
			width : 100%;
		}

		div.info_panorama {
			position : absolute;
			margin-top : 12.5vw;
			margin-left : -2.1vw;
			width : 120%;
			font-size : 1.2vw;
			text-align : center;			
		}

		div.info_portrait {
			position : absolute;
			margin-top : 21.5vw;
			margin-left : -1.7vw;
			width : 120%;
			font-size : 1.2vw;
			text-align : center;			
		}

		div.info_squared {
			position : absolute;
			margin-top : 17vw;
			margin-left : -1.7vw;
			width : 120%;
			font-size : 1.2vw;
			text-align : center;			
		}

		div.ppv {
			display : none;
		}

		a.info_free {
			display : none;
			color : green;
		}

		a.info_ppv {
			color : orange;
		}

		a.line_1 {
			color : white;
		}

		a.line_2 {
			color : grey;
		}

		div.info_unlock {
/*			margin-top : 8vw;
			margin-left : -8vw;*/
		}

		a.info_unlock {
			opacity : 1;			
			color : white;
		}

		div.left_arrow_container_panorama {
			position : absolute;
			margin-top : -14vw;
		}

		div.right_arrow_container_panorama {
			position : absolute;
			margin-top : -14vw;
			right : 0vw;
		}

		div.left_arrow_container_portrait {
			position : absolute;
			margin-top : -20vw;
		}

		div.right_arrow_container_portrait {
			position : absolute;
			margin-top : -20vw;
			right : 0vw;
		}

		img.right_arrow_container, img.left_arrow_container {
			height : 7vw;
		}

}
