
@media all and (min-width : 481px)  {

#screen {
	display : none;
	min-height : 80vw;
}

#button_header {
	position : fixed;
	z-index : 3;
	top : 6vw;
	padding-left : 93.5vw;
	width : 8vw;
}

		img.button {
			display : none;
			margin-bottom : 10px;
			width : 60%;

    		-webkit-filter: grayscale(20%);
    		filter: grayscale(20%);
    		box-shadow: 4px 4px 8px #000;

			-webkit-transition : all 0.2s ease;
			-moz-transition : 0.2s ease;
			-o-transition : all 0.2s ease;
			-ms-transition : all 0.2s ease;
			transition : all 0.2s ease;
    	}

    	img.button:hover {
			-webkit-transform : scale(1.05);
			-moz-transform : scale(1.05);
			-ms-transform : scale(1.05);
			-o-transform : scale(1.05);
			transform : scale(1.05);
		}

		img.sharing {
			display : block;
			margin-left : 2.5vw;
			width : 30%;
		}


/********************************************* BACKGROUND *********************************************/

img.background_image {
	position : absolute;  
	right : 0px;
	width : 70%;
}

div.background_shadow {
	background : linear-gradient(90deg, rgba(35, 35, 35,1), rgba(35, 35, 35,0));
	position : absolute;
	display : inline;
	top : 0px;
	right : 20%;
	width : 50%;
	height : 30vw;
}


/************************************************ INFO ************************************************/

section#information {
	position : fixed;
	z-index : 3;
	height : 0.5vw;
	top : 6vw;
	padding-left : 1.5vw;
	padding-right : 1.5vw;
	width : 80vw;
}

#information_header {
	/*top : 10px;*/
}

		img.logo_image {
			float : left;
			width : 4.5vw;
		}

		#title {
			float : left;
			padding-left : 1vw;
		}

		a.name {
			display : block;
			padding-right : 1vw;
			font-size : 2.4vw;
			color : white;
			text-decoration : none;
		}

		a.author {
			display : block;
			padding-right : 0.7vw;
			font-size : 1.6vw;	
			color : grey;
		}

		img.author_image {
			visibility : hidden;
			min-height : 5vw;
			padding-left : 0.7vw;
			width : 5%;

			-webkit-transition : all 0.2s ease;
			-moz-transition : 0.2s ease;
			-o-transition : all 0.2s ease;
			-ms-transition : all 0.2s ease;
			transition : all 0.2s ease;
		}

		img.author_image:hover {
			-webkit-transform : scale(1.10);
			-moz-transform : scale(1.10);
			-ms-transform : scale(1.10);
			-o-transform : scale(1.10);
			transform : scale(1.10);
		}


div.description {
	padding-top: 7vw;
	width : 50vw;
	text-align: justify;
	font-size : 1.2vw;
	color : rgb(200,200,200);
}

a.more_info {
	text-decoration : underline;
	font-size : 1.2vw;
	color : grey;
}

div.date {
	display : none;
}

div.duration {
	padding-top : 2vw;
}

div#note_1 {
	padding-top : 2vw;
}

a.title {
	font-size : 1.2vw;
	color : rgb(200, 200, 200);
}

div.note_title {
	float : left;
	width : 20vw;
}

div.note {
	width : 28vw;
}

img.note_image {
	position : relative;
	width : 1vw;
}

/*a.more_note {
	position : relative;
	left : 30vw;
	text-decoration : underline;
	color : grey;
}*/

a.set_note {
	display : none;
	position : relative;
	left : 30vw;
	top : -1.8vw;
}


/*********************************************** SAISONS **********************************************/

div#season_list {
	position : relative;
	z-index : 3;
	margin-top : 36vw;
	list-style-type : none;
	padding-left : 6vw;  /* padding à cause de la gestion du sélecteur */

/*	overflow-x : scroll;
	overflow-y : hidden;
	white-space : nowrap;*/
}

div#season_list.fixed {
	position : fixed;
	margin-top : 0vw;
	top : 9vw;
}

		a.season {
			display : inline;
			margin-right: 1vw;
			margin-left : 1vw;

			color : grey; 
			text-decoration : none;
		}

img#season_selector {
	position : absolute;
	top : 100%;
}

div#shadow_info {
	position : fixed;
	background-color : var(--main-bg-color);
	z-index : 2;
	display : none;
	top : 0px;
	width : 100%;
	height : 12vw;
}


/*********************************************** VIDEOS ***********************************************/

section#video_thumbnail {
	position : relative;
	z-index : 1;
	margin-top : 1vw;
	margin-left : 5vw;
	color : grey;
	min-height : 42vw;
}

section#video_thumbnail.fixed {
	margin-top : 38.5vw;
}

div.video_thumbnail_season {
	display : flex;
	/*flex-direction : column;*/
	flex-wrap : wrap;
}

		div.panorama {	
			margin-top : 0.8vw;
			margin-left : 0.8vw;
			margin-right : 0.8vw;
			/*margin-bottom : 0.8vw;*/
			margin-bottom : 2.6vw;
			width : 21vw;
			height : 11.8vw;
		}

		div.squared {	
			margin-top : 1vw;
			margin-left : 1vw;
			margin-right : 1vw;
			margin-bottom : 1vw;
			width : 13vw;
		}

		div.thumbnail {
			display : flex;
			box-shadow: 8px 8px 8px #000;

			-webkit-transition : all 0.2s ease;
			-moz-transition : 0.2s ease;
			-o-transition : all 0.2s ease;
			-ms-transition : all 0.2s ease;
			transition : all 0.2s ease;
		}
			
		div.thumbnail:hover {
			box-shadow: 16px 16px 16px #000;

			-webkit-transform : scale(1.05);
			-moz-transform : scale(1.05);
			-ms-transform : scale(1.05);
			-o-transform : scale(1.05);
			transform : scale(1.05);
		}

		img.thumbnail {
			width : 100%;
			height : 100%;
		}

		img.play_logo_panorama {
			/*display : none;*/
			position : absolute;
			width : 5vw;
			margin-top : 3.5vw;
			margin-left : 8vw;
		}

		img.play_logo_squared {
			position : absolute;
			width : 5vw;
			margin-top : 4vw;
			margin-left : 4vw;
		}

		div.info_panorama {
			position : absolute;
			margin-top : 12vw;
			margin-left : -2.1vw;
			width : 120%;
			font-size : 1.2vw;
			text-align : center;			
		}

		div.info_portrait {
			position : absolute;
			margin-top : 21.5vw;
			margin-left : -1.7vw;
			width : 120%;
			font-size : 1.2vw;
			text-align : center;			
		}

		div.info_squared {
			position : absolute;
			margin-top : 17vw;
			margin-left : -1.7vw;
			width : 120%;
			font-size : 1.2vw;
			text-align : center;			
		}

			a.line_1 {
				vertical-align : bottom;
				color : white;
			}

			a.line_2 {
				vertical-align : top;
				font-size : 0.9vw;
			}

}
