
body {
	background-color : transparent;
}	

#screen {
	display : none;
}

	iframe#video {
		position : absolute;
		z-index : 1;
		top : 0;
		left : 0;
		width : 100vw;
		height : 56vw;
	}

	img#thumbnail_image {
		position : absolute;
		z-index : 2;
		top : 0;
		left : 0;
		width : 100%;
	}

	div#layer {
		position : absolute;
		z-index : 3;
		top : 0;
		left : 0;
		width : 100vw;
		height : 20vw;
	}

	div#content_layer {
		position : absolute;
		background : linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
		z-index : 4;
		top : 0;
		left : 0;
		width : 100vw;
		height : 20vw;
	}

/*		img#content_image {
			position : absolute;
			z-index : 5;
			top : 2vw;
			left : 2vw;
			width : 10vw;
			height : 10vw;
		}*/

/*	div#episod_layer {
		position : absolute;
		display : none;
		background : linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
		z-index : 4;
		top : 36vw;
		left : 0;
		width : 100vw;
		height : 20vw;
	}

		img#mini_thumbnail_image {
			position : absolute;
			z-index : 5;
			top : 0vw;
			left : 2vw;
			width : 32vw;
			height : 18vw;
		}*/

	img#logo_imago {
		position : absolute;
		z-index : 5;
		opacity : 0.8;
		top : 1vw;
		left : 40vw;
		width : 20vw;
	}

	img#logo_imago:hover {
		opacity : 1;
	}

	img#logo_play {
		position : absolute;
		z-index : 5;
		top : 15vw;
		left : 35vw;
		width : 30%;

		-webkit-transition : all 0.2s ease;
		-moz-transition : 0.2s ease;
		-o-transition : all 0.2s ease;
		-ms-transition : all 0.2s ease;
		transition : all 0.2s ease;
	}

	img#logo_play:hover {	
		-webkit-transform : scale(1.05); 
		-moz-transform : scale(1.05); 
		-ms-transform : scale(1.05); 
		-o-transform : scale(1.05); 
		transform : scale(1.05);
	}

