
@media all and (min-width : 481px)  {

/************************************ IMAGE ************************************/

/*img#member_background_image {
	position : fixed;
	z-index : 1;
 	margin-top : 40vh;
 	transform : translateY(-50%);
	width : 60vw;
	left : 50%;
	margin-left : -30%;
	opacity : 0.1;
}*/

/************************************ TITLE ************************************/

a#login_title {
	display : block;
	margin-top : 20vh;	
	margin-left : auto;
	margin-right : auto;
	margin-bottom : 4vw;
	text-align : center;
	color : rgb(200,200,200);
	font-size : 2vw;
}


/************************************ INTPUT ************************************/

section#login_connection {
	position : absolute;
	z-index : 2;
	display : block;
	width : 30vw;
	left : 50%;
	margin-left : -15%;
}

div.login_item {
	margin-bottom : 0.5vw;
	width : 40vw;
	margin-left : auto;
	margin-right : auto;
}

		a.login_item_title {
			display : block;
			float : left;
			width : 10vw;
			font-size : 1.2vw;
			color : rgb(200,200,200);
		}

		input.login_item {
			background-color : transparent;
			border-top : none;
			border-left : none;
			border-right : none;
			border-bottom-color : grey; 	
			height : 1.5vw;
			width : 15vw;
			color : grey;
			font-size : 1.2vw;
		}

a#message {
	display : block;
	margin-top : 1.5vw;
	text-align : center;
	color : red;
}


a.action {
	display : block;
	margin-top : 2vw;
	margin-left : auto;
	margin-right : auto;
	height : 2vw;
	width   : 20vw;
	color : grey;
	text-align : center;
	text-decoration : none;
	font-size : 1.2vw;
}

a#validate {
	border-radius : 2vw;
	padding : 0.5vw;
	padding-top: 1.5vw;
	width : 10vw;
	background-color : rgb(20, 20, 20);
	color : grey;
}

a#subscribe {
	display : block;
	margin-top : 0.5vw;	
}

a {
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/*#footer {
	margin-top : 40vw;
}*/

}
