
@media all and (min-width : 481px)  {


/********************************************* BACKGROUND *********************************************/

img.background_image {
	position : fixed;
	z-index : 1;
	top : 4vw;  
	right : 0px;
	width : 70vw;
}

div.background_shadow {
	position : fixed;
	z-index : 1;
	background : linear-gradient(90deg, rgba(35, 35, 35,1), rgba(35, 35, 35,0));  
	top : 4px;
	right : 20vw;
	width : 50vw;
	height : 34vw;
}

div.date {
	display : none;
}

/*********************************************** SAISONS **********************************************/

div#season_list {
	position : relative;
	z-index : 10;
	width : 85vw;
	top : 2vw;
	list-style-type : none;
	padding-left : 1.5vw;
}

		a.season {
			display : inline;
			margin-right : 2vw;
			margin-left : 0vw;
			color : grey; 
			font-size : 2.2vw;
			text-decoration : none;
		}

	img#list {
		position : absolute;
		z-index : 10;
		margin-top : 1vw;
		right : 9vw;
		width : 2.5vw;
	}

	img#grid {
		position : absolute;
		z-index : 10;
		margin-top : 1vw;	
		right : 5.5vw;
		width : 2.5vw;
	}

/************************************************ RELATED ************************************************/

div.more_content {
	position : relative;
	z-index : 2;
	width : 94vw;
	height : 2px;
	top : 1vw;
	left : 2vw;
	background-color : rgb(80, 80, 80);
}

section#related_thumbnail {
	position : relative;
	margin-top : 4vw;
}

}