
@media all and (min-width : 481px)  {

#screen {
	display : none;
	min-height : 80vw;
}

/********************************************* BACKGROUND *********************************************/

img.background_image {
	position : absolute;
	z-index : 1;  
	right : 0px;
	width : 70vw;
}

div.background_shadow {
	background : linear-gradient(90deg, rgba(35, 35, 35,1), rgba(35, 35, 35,0));
	position : absolute;
	z-index : 1;  
	top : 0px;
	right : 20vw;
	width : 50vw;
	height : 30vw;
}

div.date {
	display : none;
}

/*********************************************** SAISONS **********************************************/

div#season_list {
	position : relative;
	z-index : 10;
	width : 85vw;
	margin-top : 36vw;
	list-style-type : none;
	padding-left : 1.5vw;  /* padding à cause de la gestion du sélecteur : 6vw */

/*	overflow-x : scroll;
	overflow-y : hidden;
	white-space : nowrap;*/
}

		a.season {
			display : inline;
			margin-right : 1vw;
			margin-left : 1vw;
			color : grey; 
			text-decoration : none;
		}

		a.season {
			margin-right : 2vw;
			margin-left : 0vw;
			font-size : 2.2vw;
		}

	img#list {
		position : absolute;
		z-index : 10;
		top : 36.5vw;
		right : 9vw;
		width : 2.5vw;
	}

	img#grid {
		position : absolute;
		z-index : 10;	
		top : 36.5vw;
		right : 5.5vw;
		width : 2.5vw;
	}

/************************************************ RELATED ************************************************/

div.more_content {
	position : relative;
	z-index : 2;
	width : 94vw;
	height : 2px;
	top : 1vw;
	left : 2vw;
	background-color : rgb(80, 80, 80);
}

section#related_thumbnail {
	position : relative;
	margin-top : 4vw;
}

}