@media all and (max-width : 480px)  {

	/************************************************* PAGE ************************************************/

	div#screen {
		display : none;
	}


	/*********************************************** SHARING **********************************************/

	#button_header {
		position : fixed;
		z-index : 4;
		top : 17vw;
		padding-left : 88vw;
		width : 25vw;
	}

	img.button {
		display : none;
		margin-bottom : 10px;
		margin-left : 2.5vw;
		width : 30%;

		-webkit-filter: grayscale(20%);
		filter: grayscale(20%);
		box-shadow: 4px 4px 8px #000;

		-webkit-transition : all 0.2s ease;
		-moz-transition : 0.2s ease;
		-o-transition : all 0.2s ease;
		-ms-transition : all 0.2s ease;
		transition : all 0.2s ease;
	}

	img.button:hover {
		-webkit-transform : scale(1.05);
		-moz-transform : scale(1.05);
		-ms-transform : scale(1.05);
		-o-transform : scale(1.05);
		transform : scale(1.05);
	}


	/************************************************* DOCU ************************************************/

	img.cover_image {
		position : absolute;
		top : 15vw;
		right : 0px;
		width : 100%;
	}

	section#link {
		/*display : none;*/
		padding-left : 2vw;
		padding-bottom : 10vw;
	}

	a.link_title {
		display : block;
		font-size : 5vw;
		color : white;
	}

	a.link {
		text-decoration : none;
	}

	img#vod_image {
		margin-top : 5vw;
		margin-left : 5vw;
		margin-right : 5vw;
		width : 20vw;
	}

	img#dvd_image {
		margin-top : 5vw;
		margin-left : 5vw;
		margin-right : 5vw;
		width : 20vw;
	}

	img.background_image {
		display : none;
		position : absolute;
		top : 65px;
		height : 100%;
		right: 0px;
	}


	/************************************************ INFO ************************************************/

	section#information {
		background-color : var(--main-bg-color);
		position : relative;
		z-index : 3;
		margin-top : 148vw;
		/*margin-top : 70vw; */
		padding: 2vw 2vw 5vw;
	}

	img.logo_image {
		display : none;
	}

	#information_header {
		margin-top : 1vw;
	}

	#title {
		float : left;
	}

	a.name {
		display : block;
		font-size : 6vw;
		color : white;
		text-decoration : none;
	}

	a.author {
		display : block;
		font-size : 4vw;
		color : grey;
	}

	img.author_image {
		visibility : hidden;
	}

	div.description {
		padding-top : 17vw;
		padding-bottom : 2vw;
		font-size : 3.5vw;
		color : rgb(200,200,200);
		text-align: justify;
	}

	a.more_info {
		text-decoration : underline;
		color : grey;
	}

	div.date {
		padding-top : 5vw;
	}

	div#note_1 {
		padding-top : 5vw;
	}

	a.title {
		font-size : 3.5vw;
		color : rgb(200, 200, 200);
	}

	a.producer {
		text-decoration : underline;
	}

	div.note_title {
		float : left;
		width : 60vw;
	}

	img.note_image {
		position : relative;
		width : 3vw;
	}


	/*********************************************** VIDEOS ***********************************************/

	section#video {
		position : relative;
		z-index: 1;
		/*margin-top : 2vw;*/
		margin-left : 1vw;
		color : grey;
	}

	a.thumbnail_title {
		font-size : 5vw;
		color : white;
	}

	img.thumbnail {
		padding: 1.5vw 2vw;
		width : 45vw;

		-webkit-transition : all 0.2s ease;
		-moz-transition : 0.2s ease;
		-o-transition : all 0.2s ease;
		-ms-transition : all 0.2s ease;
		transition : all 0.2s ease;
	}

	img.thumbnail:hover {
		-webkit-transform : scale(1.05);
		-moz-transform : scale(1.05);
		-ms-transform : scale(1.05);
		-o-transform : scale(1.05);
		transform : scale(1.05);
	}

	img.play_logo {
		/*display : none;*/
		position : absolute;
		width : 15vw;
		margin-top : 7vw;
		margin-left : -32vw;
	}

	div#teaser_thumbnail, div#movie_thumbnail, div#excerpt_thumbnail, div#bonus_thumbnail {
		margin-bottom : 4vw;
	}

}
