
@media all and (min-width : 481px)  {

#screen {
	display : none;
	margin-top : 6vw;
	min-height : 40vw;
}

	div#screen_title {
		margin-top : -0.5vw;
		margin-bottom : 1vw;
		text-align : center;
		font-size : 2.4vw;
	}

}
