
@media all and (min-width : 481px)  {

#screen {
	display : none;
	margin-top : 7vw;
	min-height : 40vw;
}

div.item_list {
	position : relative;
	height : 5vw;
	text-align : center;
}

ol.item_list {
	list-style-type : none;
	padding-left : 0px; 
	margin-left : 0px;
}

		ol.item_list li { 
			display : inline;
			padding-left : 1vw; 
			padding-right : 1vw; 
		}

		.item {
			color : grey; 
			text-decoration : none;
		}


/************************************ IMAGE ************************************/

img#member_background_image {
	position : fixed;
	z-index : 1;
 	margin-top : 40vh;
 	transform : translateY(-50%);
	width : 60vw;
	left : 50%;
	margin-left : -30%;
	opacity : 0.05;
}

section#text {
	position : relative;
	z-index : 2;
	width : 60%;
	margin-left : auto;
	margin-right : auto;
	text-align : justify;
}

a.parapher_title {
	font-size : 2vw;
	color : white;
}

div.text {
	margin-bottom : 4vw;
	font-size : 1.2vw;
}


img.logo {
	float : left;
	margin-right : 1vw;
	width : 20%;	
}

img.image {
	width : 15%;
	padding-left : 25vw;
}

}
