
@media all and (max-width : 480px)  {

#screen {
	display : none;
	/*min-height : 80vw;*/
}


/********************************************* BACKGROUND *********************************************/

img.background_image {
	position : absolute;
	right : 0px;
	width : 100%;
}

div.background_shadow {
	position : absolute;
	display : none;
	top : 0px;
	left : 0px;
	width : 100%;
	height : 100%;
}

/************************************************ INFO ************************************************/

section#information {
	background-color : rgb(35, 35, 35);
	position : relative;
	z-index : 3;
	margin-top : 58vw;
	padding-top : 2vw;
	padding-bottom : 5vw;
	padding-left : 2vw;
	padding-right : 2vw;
}

#information_header {
	margin-top : 1vw;
}

		img.logo_image {
			float : left;
			width : 10vw;
		}

		#title {
			float : left;
			padding-left : 10px;
		}

		a.name {
			display : block;
			font-size : 4.5vw;
			color : white;
			text-decoration : none;
		}

		a.author {
			display : block;
			font-size : 4vw;	
			color : grey;
		}

		img.author_image {
			display : none;
		}

		img#heart {
			display : none;
		}


div.description {
	padding-top : 17vw;
	width : 96vw;
	text-align: justify;
	font-size : 3.5vw;
	color : rgb(200,200,200);
}

/*a.producer {
	text-decoration : underline;
}
*/

a.data {
	text-decoration : none;
	color : grey;
}

a.more_info {
	text-decoration : underline;
	font-size : 3.5vw;
	color : grey;
}

div.date {
	display : none;
}

div.number {
	padding-top : 5vw;
}

div#note_1 {
	padding-top : 5vw;
}

a.info_title {
	font-size : 3.5vw;
	color : rgb(200, 200, 200);
}

div.note_title {
	float : left;
	width : 60vw;
}

img.note_image {
	position : relative;
	width : 3vw;
}

/*a.more_note {
	position : absolute;
	left : 26%;
	text-decoration : underline;
	font-size : 3.5vw;
	color : grey;
}*/


/*********************************************** SAISONS **********************************************/

div#season_list {
	position : relative;
	z-index : 3;
	margin-top : 1vw;
	list-style-type : none;
	padding-left : 0vw;

	overflow-x : scroll;
	overflow-y : hidden;
	white-space : nowrap;
}

div#season_list.fixed_header {
	margin-top : 145vw;
}

div#season_list.fixed_season {
	position : fixed;
	margin-top : 0vw;
	top : 30vw;
}

		a.season {
			display : inline;
			margin-right: 2vw;
			margin-left : 2vw;

			color : grey; 
			text-decoration : none;
		}

img#season_selector {
	position : absolute;
	top : 100%;
}

div#shadow_info {
	position : fixed;
	z-index : 2;
	display : none;
	top : 0px;
	width : 100%;
	height : 40vw;
}


/*********************************************** VIDEOS ***********************************************/

section#video_thumbnail {
	position : relative;
	z-index : 1;
	margin-top : 2vw;
	margin-left : 1vw;
	color : grey;
	/*min-height : 600px;*/
}

a.title {
	margin-left : 2vw;
	font-size : 6vw;
}

div.pager_container {
	display : none;
}

div.pager{
	display : none;
}

div.scrolling_container {
	position : relative;
}

div.video_thumbnail_season {
	display : flex;
	flex-wrap : wrap;
	padding-top : 2vw;
	padding-left : 2vw;
	padding-bottom : 6vw;

/*	overflow-x : scroll;
	overflow-y : hidden;
	white-space : nowrap;*/
}

		div.panorama, div.portrait, div.squared {
			margin-top : 0.8vw;
			margin-left : 0.8vw;
			margin-right : 0.8vw;
			margin-bottom : 2vw;
			flex : 0 0 45vw;
		}


		div.thumbnail_info {
			display : flex;
			box-shadow : 5px 5px 5px #000;
		}

		img.panorama, img.portrait, img.squared {
			width : 100%;
			height : 100%;
		}

		img.play_logo_panorama {
			display : none;
		}

		img.play_logo_squared {
			display : none;
		}

		div.info_panorama, div.info_portrait, div.info_squared {
			display : none;			
		}

		a.info_free {
			display : none;
		}

		a.line_1 {
			display : none;
		}

		a.line_2 {
			display : none;
		}

		div.left_arrow_container_panorama {
			display : none;
		}

		div.right_arrow_container_panorama {
			display : none;
		}

		div.left_arrow_container_portrait {
			display : none;
		}

		div.right_arrow_container_portrait {
			display : none;
		}

}
