
@media all and (max-width : 480px)  {

#screen {
	display : none;
	/*min-height : 80vw;*/
}


/********************************************* BACKGROUND *********************************************/

img.background_image {
	position : absolute;
	right : 0px;
	width : 100%;
}

div.background_shadow {
	position : absolute;
	display : none;
	top : 0px;
	left : 0px;
	width : 100%;
	height : 100%;
}

/************************************************ INFO ************************************************/

section#information {
	background-color : rgb(35, 35, 35);
	position : relative;
	z-index : 3;
	margin-top : 58vw;
	padding-top : 2vw;
	padding-bottom : 5vw;
	padding-left : 2vw;
	padding-right : 2vw;
}

#information_header {
	margin-top : 1vw;
}

		img.logo_image {
			float : left;
			width : 10vw;
		}

		#title {
			float : left;
			padding-left : 10px;
		}

		a.name {
			display : block;
			font-size : 4.5vw;
			color : white;
			text-decoration : none;
		}

		a.author {
			display : block;
			font-size : 4vw;	
			color : grey;
		}

		img.author_image {
			display : none;
		}

		img#heart, img#time, img#lines {
			display : none;
			width : 3vw;
		}


div.description {
	padding-top : 17vw;
	width : 96vw;
	text-align: justify;
	font-size : 3.5vw;
	color : rgb(200,200,200);
}

/*a.producer {
	text-decoration : underline;
}
*/

a.data {
	text-decoration : none;
	color : grey;
}

a.more_info {
	text-decoration : underline;
	font-size : 3.5vw;
	color : grey;
}

div.date {
	display : none;
}

div.number {
	padding-top : 5vw;
}

div#note_1 {
	padding-top : 5vw;
}

a.info_title {
	font-size : 3.5vw;
	color : rgb(200, 200, 200);
}

div.note_title {
	float : left;
	width : 60vw;
}

img.note_image {
	position : relative;
	width : 3vw;
}

/*a.more_note {
	position : absolute;
	left : 26%;
	text-decoration : underline;
	font-size : 3.5vw;
	color : grey;
}*/


/*********************************************** SAISONS **********************************************/

div#season_list {
	position : relative;
	z-index : 3;
	margin-top : 1vw;
	list-style-type : none;
	padding-left : 0vw;
	/*width : 65vw;*/

	overflow-x : scroll;
	overflow-y : hidden;
	white-space : nowrap;
}

div#season_list.fixed_header {
	margin-top : 145vw;
}

div#season_list.fixed_season {
	position : fixed;
	margin-top : 0vw;
	top : 30vw;
}

		a.season {
			display : inline;
			margin-right: 2vw;
			margin-left : 2vw;

			color : grey; 
			text-decoration : none;
			font-size : 6vw;
		}

	img#list {
		position : absolute;
		z-index : 4;	
		top : 152vw;
		right : 16vw;
		width : 9vw;
	}

	img#grid {
		position : absolute;
		z-index : 4;	
		top : 152vw;
		right : 5vw;
		width : 9vw;
	}

/*img#season_selector {
	position : absolute;
	top : 100%;
}

div#shadow_info {
	position : fixed;
	z-index : 2;
	display : none;
	top : 0px;
	width : 100%;
	height : 40vw;
}*/


/*********************************************** VIDEOS ***********************************************/

section#video_thumbnail {
	position : relative;
	z-index : 1;
	margin-top : 2vw;
	margin-left : 1vw;
	margin-bottom : 8vw;
	color : grey;
	/*min-height : 600px;*/
}

		img.series_play_panorama {
			position : absolute;
			margin-top : -22vw;
			margin-left : 15vw;
			width : 15vw;
		}

		img.series_play_squared {
			position : absolute;
			margin-top : -32vw;
			margin-left : 15vw;
			width : 15vw;
		}

}
