@media all and (min-width : 481px)  {

	/************************************************ GLOBAL ***********************************************/

	@font-face {
		font-family : "Avenir";
		src : url("/font/AvenirLTStd-Light.otf");
	}

	body {
		background-color : black;
		margin : 0;
		padding : 0;
		overflow-x : hidden;

		font-family : Avenir;
		font-size : 3vw;
		color : grey;
	}

	/************************************************ POP UP ***********************************************/

	img#background_image {
		position : fixed;
		width : 100vw;
		opacity : 0.1;
	}

	div {
		position : relative;
		margin-top : 10vw;
		width : 75vw;
		text-align : center;
		margin-left : auto;
		margin-right : auto;
	}

	input {
		border : none;
		cursor : default;
		/*	-webkit-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;*/
		/*margin-left : 200vw;*/
		text-align : center;
		width : 80vw;
		font-size : 2vw;
		background-color : transparent;
		color : grey;
	}


	/************************************************* FIN ************************************************/

}